@media only screen and (orientation: portrait){

	body{
		background: url(img/fondo2.jpg);
	}
	
	h1{ /*Monserrat Torres*/
	font-family: 'Dosis', sans-serif;
	font-weight:lighter;
	font-size:2.5em;
	letter-spacing:0.1em;
	color: #FBFCFC;
	line-height: 1em;
	text-align: center;
	margin: 96px 0 -96px 0;
	padding: 0;
}

hr{
	background:#FBFCFC;
	height: 3px;
	width:80%;
	margin: 96px auto -96px auto;
	border: none;
}

h3{ /*Diseñadora Gráfica*/
	font-family: 'Dosis', sans-serif;
	font-weight:bold;
	font-size:1em;
	letter-spacing:0.1em;
	color: #FBFCFC;
	text-align: center;
	margin: 100px auto;
}

footer{
	display: block;
	position: absolute;
	margin: auto;
	height: 128px;
	width: 100%;
}

#contacto{
	width: 248px;
	margin:auto;
	padding: 0;
	float: center;
	position: relative;
}

h6{
	font-size: 0.8em;
	font-family: 'Dosis', sans-serif;
	text-align:left;
	border-bottom: 1px solid #FBFCFC;
	color:#FBFCFC;
}

#contacto ul{
	margin: 32px 32px 0;
}

#contacto li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em;
	color: #FBFCFC;
	line-height: 0.5em;
}

#contacto span{
	font-size: 1.5em;
    line-height: 1.5em;
    padding-right: 16px;
}

#icon-mail{
	font-size: 1.5em;
    line-height: 1.5em;
   	margin-left: -6px;
   	margin-right: -4px;
}

#icon-at{
	font-size: 1em;
}

#subfooter {
	float: center;
	position: absolute;
	width: 100%;
	margin: 192px 0 0 0;
	border-top: 1px solid #FBFCFC;
}

#subfooter > p{
	padding: 32px;
	font-size: 0.6em;
	font-family:'Open+Sans', sans-serif;
	text-align: center;
	color:#FBFCFC;
}


