body{
	background-image: url(img/Fondo.jpg);
   	background-size: cover; /*imagen proporcionada a la base*/
   	background-position: center center;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	background-color: #CDCDCD;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(img/Fondo.jpg);
  }
}

nav {
  position: relative;
  width: 100%;
  margin: -8px auto;
}

ul.menu {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 32px 0px 32px 0px;
  border: 0;
  font-size: 0;
  text-align: center;
  background-color: rgba(102, 102, 102,0.6);
}

ul.menu ul {
  list-style: none;
  display: none;
}

ul.menu li{
  display: inline-block;
  margin: 0 8px 0px 8px;
  padding: 4px 0px 4px 0px;
}

ul.menu li a {
  font-family:'Open+Sans', sans-serif;
  display: block;
  margin: 0;
  padding: 0 4px 4px 4px;
  text-decoration: none;
  font-size: 12.5px;
  letter-spacing:0.06em;
  text-transform: uppercase;
  color: #FBFCFC;
}

ul.menu li ul {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
}

ul.menu ul a {
  color: #FBFCFC;
}

ul.menu li:hover a {
  color: #FBFCFC;
  border-bottom: 3px solid #1BCDBB;
}

ul.menu li:hover ul {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 16px 0px 16px 0px;
  border: 0;
  font-size: 0;
  text-align: center;
}

ul.menu li:hover ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-family:'Open+Sans', sans-serif;
  color: #FBFCFC; 
  border:none;
}

ul.menu li:hover ul li a:hover {
  	color: #1BCDBB;
}

a:link, a:active{
  color:#1BCDBB;
}

body.inicio a.inicio:link, body.proyecto a.proyecto:link, body.investigaciones a.investigaciones:link, body.formacion a.formacion:link{
	border-bottom: 3px solid #1BCDBB;
}

h1{ /*Monserrat Torres*/
	font-family: 'Dosis', sans-serif;
	font-weight:lighter;
	font-size:4em;
	letter-spacing:0.1em;
	color: #FBFCFC;
	line-height: 1em;
	text-align: center;
	margin-top: 262px;
	margin-left: 248px;
	margin-right: 248px;
	padding-bottom: 8px;
	border-bottom: 3px solid #FBFCFC;
}

h3{ /*Dise침adora Gr치fica*/
	font-family: 'Dosis', sans-serif;
	font-weight:bold;
	font-size:1.5em;
	letter-spacing:0.1em;
	color: #FBFCFC;
	text-align: center;
	margin-top: -32px;
}

@media only screen and (max-width: 767px) {
	h1{ /*Monserrat Torres*/
		font-family: 'Dosis', sans-serif;
		font-size:2.5em;
		font-weight:lighter;
		line-height: 1em;
		letter-spacing:0.1em;
		color: #FBFCFC;
		text-align: center;
		margin-top: 200px;
		margin-left: 8px;
		margin-right: 8px;
		padding-bottom:8px;
		border-bottom: 3px solid #FBFCFC;
	}

	h3{ /*Dise침adora Gr치fica*/
		font-family: 'Dosis', sans-serif;
		font-weight:bold;
		font-size:1em;
		letter-spacing:0.1em;
		padding-top: 4px;
		color: #FBFCFC;
		text-align: center;
	}
}	

footer{
	display: block;
	position: absolute;
	margin-top: 272px;
	height: 232px;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

#contacto{
	width: 248px;
	margin-right: 140px;
	float: right;
}

h6{
	font-size: 1.2em;
	font-family: 'Dosis', sans-serif;
	text-align:left;
	border-bottom: 1px solid #FBFCFC;
	color:#FBFCFC;
}

#contacto li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: #FBFCFC;
}

#contacto span{
	font-size: 1.5em;
    line-height: 1.5em;
    padding-right: 16px;
}

#icon-mail{
	font-size: 1.5em;
    line-height: 1.5em;
   	margin-left: -6px;
   	margin-right: -4px;
}

#icon-at{
	font-size: 1em;
}

#subfooter {
	position: absolute;
	height: 64px;
	width: 100%;
	padding-top: 264px;
}

#subfooter > p{
	font-size: 0.6em;
	font-family:'Open+Sans', sans-serif;
	text-align: center;
	color:#CDCDCD;
}
